{% extends "basicapp/base.html" %}
{% block body_block %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Niralee Technologies Pvt Ltd!</h1>
    <p class="lead">Niralee Technologies Pvt Ltd is a software Development company which develops software product</p>
    <hr class="my-4">
    <p>We also provide internship that can provide unique opportunities for learning outside of academic settings</p>
    <a class="btn btn-primary btn-lg" href="http://www.niraleetechnologies.com/" role="button">niralee</a>
  </div>
{% endblock %}